* {
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 4px;#
  position: relative;
  z-index: 1;
}

.calc-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99%;
  height:100%;
}

.container1 {
  width: 100%;
  height: 900px;
  background-color: #393276;
}
.container2 {
  width: 100%;
  height: 900px;
  background-color: #60A3F3;
}
.skewed-container {
  position: relative;
  left: -40px;
  width: 200px;
  height: 900px;
  transform-origin: top;
  transform:skewX(-10deg);
  background-color: #393276;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: auto;
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px;
  background-color: #aaa;
  position: relative;
  z-index: 1;
}

.screen {
  width: 99%;
  border: 0px;
  resize: none;
  font-size: 20px;
}

#input {
  position: relative;
  top: 4px;
  height: 100px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-align: right;
}

#output {
  margin-bottom: 10px;
  text-align: right;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: white;
}

.keypad {
  font-size: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin: 1px;
  grid-gap: 2px;
  cursor: pointer;
}
.btn {
  width: 100%;
  height: 60px;
  border-radius: 3px;
  text-align: center;
  padding-top: 14px;
  border: solid black 0.5px;
}

.operator, .cancel, .delete {
  background-color: #ccc;
}
.number {
  background-color: whitesmoke;
}
.equals {
  background-color: green;
  grid-column: span 2;
}

.cancel {
  grid-column: span 2;
}
